.card__container {
	position: relative;
	border-radius: 10px;
	width: 23.5rem;
	height: 23.5rem;

	display: flex;
	overflow: hidden;
	margin: 0.625rem 0 0 0;
}

.card__img {
	min-width: 100%;
	min-height: 100%;
	transition: transform .8s;
}

.card__img:hover {
	transform: scale(1.1);
}
