.footer__container {
	background-color: #003697;
	display: flex;
	flex-direction: column;
	width: 100%;
	bottom: 0;
}

.footer__logo {
	padding-bottom: 2.25rem !important;
    padding-top: 2.25rem !important;
	display: flex;
	flex-direction: row;
	margin-left: 2.5rem;
}

.ps-logo {
	width: 2.5rem;
	height: 2.5rem;
}

.footer__region {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 2.5rem;
	width: 100%;
}

.footer__region > p {
	font-family: sst,helvetica,arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    white-space: normal;
    word-wrap: break-word;
	color: white;
}

.globe {
	width: 1.75rem;
	height: 1.75rem;
	margin-right: 0.4rem;
}

.footer__info {
	margin-left: 2.5rem;
	display: flex;
	flex-direction: column;
}

.footer__info > a {
	text-decoration: none;
	font-weight: 400;
    line-height: 1.25;
	color: white;
	margin-top: 0.45rem;
	font-family: Helvetica, sans-serif;
}

.footer__rights {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-family: Helvetica, sans-serif;
	font-size: small;
	margin: 2.5rem;
}
